---
import BaseLayout from "../layouts/BaseLayout.astro";
import Comment from "../components/Comment.astro";
import { getAllComments } from "../comments";

const comments = getAllComments();
---

<BaseLayout>
  <h1>Comments</h1>
  <div id="comments">
    {comments.map((comment) => <Comment comment={comment} />)}
  </div>
  <form
    hx-post="/api/comments/submit"
    hx-target="#comments"
    hx-swap="beforeend"
    hx-on::after-request="document.querySelector('#comment').value = ''"
  >
    <label for="author">Your name:</label>
    <input type="text" name="author" id="author" required /><br />
    <label for="comment">Comment:</label>
    <input type="text" name="comment" id="comment" required /><br />
    <button>Submit</button>
  </form>
</BaseLayout>
