---
import type { Comment } from "../comments";

interface Props {
  comment: Comment;
}
const { comment } = Astro.props;
---

<div class="comment relative my-2 border bg-gray-200 p-1">
  <div>{comment.text}</div>
  <span class="text-sm">
    {comment.author} - {
      comment.date.toLocaleString("no", {
        timeZone:
          Astro.request.headers.get("x-vercel-ip-timezone") ?? undefined,
      })
    }
  </span>
  <button
    hx-delete={"/api/comments/" + comment.id}
    hx-target="closest .comment"
    hx-swap="outerHTML"
    class="absolute bottom-3 right-3 rounded border-2 border-black bg-red-400 hover:bg-red-600"
  >
    Delete
  </button>
</div>
