<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script>
      import "htmx.org";
    </script>
    <title>Comments</title>
  </head>
  <body class="overflow-y-scroll bg-slate-600">
    <div class="mx-auto min-h-screen max-w-4xl bg-gray-100 md:p-6">
      <slot />
    </div>
  </body>
</html>
